Service References/Abnormal/getOptAbnormal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAbnormal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt1" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dt2" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="sno" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAbnormalResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAbnormalSoapIn">
    <wsdl:part name="parameters" element="tns:GetAbnormal" />
  </wsdl:message>
  <wsdl:message name="GetAbnormalSoapOut">
    <wsdl:part name="parameters" element="tns:GetAbnormalResponse" />
  </wsdl:message>
  <wsdl:message name="GetAbnormalHttpGetIn">
    <wsdl:part name="dt1" type="s:string" />
    <wsdl:part name="dt2" type="s:string" />
    <wsdl:part name="sno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAbnormalHttpGetOut" />
  <wsdl:message name="GetAbnormalHttpPostIn">
    <wsdl:part name="dt1" type="s:string" />
    <wsdl:part name="dt2" type="s:string" />
    <wsdl:part name="sno" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAbnormalHttpPostOut" />
  <wsdl:portType name="getOptAbnormalSoap">
    <wsdl:operation name="GetAbnormal">
      <wsdl:input message="tns:GetAbnormalSoapIn" />
      <wsdl:output message="tns:GetAbnormalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="getOptAbnormalHttpGet">
    <wsdl:operation name="GetAbnormal">
      <wsdl:input message="tns:GetAbnormalHttpGetIn" />
      <wsdl:output message="tns:GetAbnormalHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="getOptAbnormalHttpPost">
    <wsdl:operation name="GetAbnormal">
      <wsdl:input message="tns:GetAbnormalHttpPostIn" />
      <wsdl:output message="tns:GetAbnormalHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getOptAbnormalSoap" type="tns:getOptAbnormalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAbnormal">
      <soap:operation soapAction="http://tempuri.org/GetAbnormal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getOptAbnormalSoap12" type="tns:getOptAbnormalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAbnormal">
      <soap12:operation soapAction="http://tempuri.org/GetAbnormal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getOptAbnormalHttpGet" type="tns:getOptAbnormalHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAbnormal">
      <http:operation location="/GetAbnormal" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getOptAbnormalHttpPost" type="tns:getOptAbnormalHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAbnormal">
      <http:operation location="/GetAbnormal" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getOptAbnormal">
    <wsdl:port name="getOptAbnormalSoap" binding="tns:getOptAbnormalSoap">
      <soap:address location="http://183.83.33.156:82/getOptAbnormal.asmx" />
    </wsdl:port>
    <wsdl:port name="getOptAbnormalSoap12" binding="tns:getOptAbnormalSoap12">
      <soap12:address location="http://183.83.33.156:82/getOptAbnormal.asmx" />
    </wsdl:port>
    <wsdl:port name="getOptAbnormalHttpGet" binding="tns:getOptAbnormalHttpGet">
      <http:address location="http://183.83.33.156:82/getOptAbnormal.asmx" />
    </wsdl:port>
    <wsdl:port name="getOptAbnormalHttpPost" binding="tns:getOptAbnormalHttpPost">
      <http:address location="http://183.83.33.156:82/getOptAbnormal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>